//welkom to the main css file, it's still empty though, also potentaill obsolete already

//color variables
$primary: #1b5e20;
$secondary: #5bc0de;
$offWhite: #F2F1F4;
$sandYellow: #BB9841;
$branchBrown: #553024;


//Global
html, body{
  width: 100%;
}
body{
  background-color: $secondary;
}

//header
.img-wrapper{
  text-align: center;
  height: 420px;
  background: url("../images/header-bg-trees.png") no-repeat 55% 10px;
  margin: 0;
  padding: 95px 0 0 0;
  width: 100%;
  margin-bottom: -30px;
}

.navbar-light{
  margin-top: -30px;
  background: transparent !important;
  position: relative;

  .navbar-toggler{
    outline: 0;
    color: $branchBrown;
    border: none;
  }
}

#navbarNav{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10%;
}

.nav-item {
  color: $branchBrown;
  font-weight: bold;
  text-decoration: none !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  &:hover{
    color: $sandYellow;
  }

}

.main-content{
  background: $primary;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width:750px) {
  .logo{
    display: none!important;
  }
}

//contact
.well {
  background-color: darken($secondary, 15%);
}