//welkom to the main css file, it's still empty though, also potentaill obsolete already

//color variables
$primary: #1b5e20;
$darkPrimary: darken($primary,15%);

$secondary: #5bc0de;
$darkSecondary: darken($secondary, 15%);

$offWhite: #F2F1F4;
$darkOffWhite: darken($offWhite, 15%);

$sandYellow: #BB9841;
$darkSandYellow: darken($sandYellow, 15%);

$branchBrown: #553024;
$darkBranchBrown: darken($branchBrown, 15%);

$darkGeen: darken($primary, 10%);


//Global
html, body{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

body{
  background: $offWhite;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}

.font-weight-semibold{
  font-weight: 600;
}

hr{
  border-top: 1.5px solid rgba(0,0,0,.1) !important;
}

//header
.img-wrapper{
  text-align: center;
  height: 392px;
  background: url("../images/header-bg-trees.png") no-repeat 50% bottom;
  margin: 0;
  padding: 95px 0 0 0;
  width: 100%;
  background-color: $secondary;
}

.transition-wrapper{
  text-align: center;
  top: 333px;
  background: url("../images/bottomheader.svg") no-repeat 50% top;
  margin: 0;
  padding: 295px;
  width: 100%;
  position: absolute;

}



.navbar-light{
  margin-top: -30px;
  background: transparent !important;
  position: relative;

  .navbar-toggler{
    outline: 0;
    color: $branchBrown;
    border: none;
  }
}

#navbarNav{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10%;
}

.nav-link{
  padding: .25rem 0;
}

.nav-item {
  color: $primary;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  &.logout{
    position: absolute;
    top: 0;
    right: 15px;
    list-style-type: none !important;
  }

  &:hover {
    color: $branchBrown;
    font-weight: 600;
  }
}

.main-content{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 95px;
}

@media (max-width:750px) {
  .logo{
    display: none!important;
  }
}

//contact
.well {
  background-color: darken($secondary, 15%);
}

// BG Colors & Overlay

.bg-brown{
  background-color: $branchBrown;
}

.bg-yellow{
  background-color: $sandYellow;
}

.bg-blue{
  background-color: $secondary;
}

.bg-offwhite{
  background-color: $offWhite;
}

.bg-green{
  background-color: $primary;
}

.bg-darkgreen{
  background-color: $darkGeen;
  color: $offWhite;
}


.overlay {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &.bg-brown {
    -webkit-box-shadow: 0 3px 6px rgba($darkBranchBrown, 0.45), 0 3px 6px rgba($darkBranchBrown, 0.5) !important;
    -moz-box-shadow: 0 3px 6px rgba($darkBranchBrown, 0.45), 0 3px 6px rgba($darkBranchBrown, 0.5) !important;
    box-shadow: 0 3px 6px rgba($darkBranchBrown, 0.45), 0 3px 6px rgba($darkBranchBrown, 0.5) !important;
    color: $offWhite;
  }

  &.bg-yellow {
    -webkit-box-shadow: 0 3px 6px rgba($darkSandYellow, 0.65), 0 3px 6px rgba($darkSandYellow, 0.7) !important;
    -moz-box-shadow: 0 3px 6px rgba($darkSandYellow, 0.65), 0 3px 6px rgba($darkSandYellow, 0.7) !important;
    box-shadow: 0 3px 6px rgba($darkSandYellow, 0.65), 0 3px 6px rgba($darkSandYellow, 0.7) !important;
    color: $branchBrown;

    .link{
      color: $primary;
      text-decoration: none;
      font-weight: 600;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;

      &:hover{
        color: $branchBrown;
      }
    }
  }

    &.bg-blue{
      -webkit-box-shadow: 0 3px 6px rgba($darkSecondary, 0.65), 0 3px 6px rgba($darkSecondary, 0.7) !important;
      -moz-box-shadow: 0 3px 6px rgba($darkSecondary, 0.65), 0 3px 6px rgba($darkSecondary, 0.7) !important;
      box-shadow: 0 3px 6px rgba($darkSecondary, 0.65), 0 3px 6px rgba($darkSecondary, 0.7) !important;
  }

  &.bg-offwhite{
    -webkit-box-shadow: 0 3px 6px rgba($darkOffWhite, 0.65), 0 3px 6px rgba($darkOffWhite, 0.7) !important;
    -moz-box-shadow: 0 3px 6px rgba($darkOffWhite, 0.65), 0 3px 6px rgba($darkOffWhite, 0.7) !important;
    box-shadow: 0 3px 6px rgba($darkOffWhite, 0.65), 0 3px 6px rgba($darkOffWhite, 0.7) !important;
    color: $branchBrown;
  }

  &.bg-green {
    -webkit-box-shadow: 0 3px 6px rgba($darkPrimary, 0.65), 0 3px 6px rgba($darkPrimary, 0.7) !important;
    -moz-box-shadow: 0 3px 6px rgba($darkPrimary, 0.65), 0 3px 6px rgba($darkPrimary, 0.7) !important;
    box-shadow: 0 3px 6px rgba($darkPrimary, 0.65), 0 3px 6px rgba($darkPrimary, 0.7) !important;
    color: $offWhite;

    .link{
      color: $sandYellow;
      text-decoration: none;
      font-weight: 600;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;

      &:hover{
        color: $offWhite;
      }
    }
  }
}
.footer{
  &.overlay{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 104;
    bottom: 0;
    margin-top: 66px;
  }
}

// photos
#mainPhotosNode{
  .photos{
    margin: 5%;
  }
}