html, body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

body {
  background: #F2F1F4; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

.font-weight-semibold {
  font-weight: 600; }

hr {
  border-top: 1.5px solid rgba(0, 0, 0, 0.1) !important; }

.img-wrapper {
  text-align: center;
  height: 392px;
  background: url("../images/header-bg-trees.png") no-repeat 55% bottom;
  margin: 0;
  padding: 95px 0 0 0;
  width: 100%;
  background-color: #5bc0de; }

.transition-wrapper {
  text-align: center;
  top: 333px;
  background: url("../images/bottomheader.svg") no-repeat 55% top;
  margin: 0;
  padding: 295px;
  width: 100%;
  position: absolute; }

.navbar-light {
  margin-top: -30px;
  background: transparent !important;
  position: relative; }
  .navbar-light .navbar-toggler {
    outline: 0;
    color: #553024;
    border: none; }

#navbarNav {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10%; }

.nav-item {
  color: #1b5e20;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .nav-item.logout {
    position: absolute;
    top: 0;
    right: 15px;
    list-style-type: none !important; }
  .nav-item:hover {
    color: #553024;
    font-weight: 600; }

.main-content {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 85px; }

@media (max-width: 750px) {
  .logo {
    display: none !important; } }
.well {
  background-color: #28a1c5; }

.bg-brown {
  background-color: #553024; }

.bg-yellow {
  background-color: #BB9841; }

.bg-blue {
  background-color: #5bc0de; }

.bg-offwhite {
  background-color: #F2F1F4; }

.bg-green {
  background-color: #1b5e20; }

.bg-darkgreen {
  background-color: #103613;
  color: #F2F1F4; }

.overlay {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .overlay.bg-brown {
    -webkit-box-shadow: 0 3px 6px rgba(31, 18, 13, 0.45), 0 3px 6px rgba(31, 18, 13, 0.5) !important;
    -moz-box-shadow: 0 3px 6px rgba(31, 18, 13, 0.45), 0 3px 6px rgba(31, 18, 13, 0.5) !important;
    box-shadow: 0 3px 6px rgba(31, 18, 13, 0.45), 0 3px 6px rgba(31, 18, 13, 0.5) !important;
    color: #F2F1F4; }
  .overlay.bg-yellow {
    -webkit-box-shadow: 0 3px 6px rgba(130, 106, 45, 0.65), 0 3px 6px rgba(130, 106, 45, 0.7) !important;
    -moz-box-shadow: 0 3px 6px rgba(130, 106, 45, 0.65), 0 3px 6px rgba(130, 106, 45, 0.7) !important;
    box-shadow: 0 3px 6px rgba(130, 106, 45, 0.65), 0 3px 6px rgba(130, 106, 45, 0.7) !important;
    color: #553024; }
    .overlay.bg-yellow .link {
      color: #1b5e20;
      text-decoration: none;
      font-weight: 600;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .overlay.bg-yellow .link:hover {
        color: #553024; }
  .overlay.bg-blue {
    -webkit-box-shadow: 0 3px 6px rgba(40, 161, 197, 0.65), 0 3px 6px rgba(40, 161, 197, 0.7) !important;
    -moz-box-shadow: 0 3px 6px rgba(40, 161, 197, 0.65), 0 3px 6px rgba(40, 161, 197, 0.7) !important;
    box-shadow: 0 3px 6px rgba(40, 161, 197, 0.65), 0 3px 6px rgba(40, 161, 197, 0.7) !important; }
  .overlay.bg-offwhite {
    -webkit-box-shadow: 0 3px 6px rgba(202, 198, 210, 0.65), 0 3px 6px rgba(202, 198, 210, 0.7) !important;
    -moz-box-shadow: 0 3px 6px rgba(202, 198, 210, 0.65), 0 3px 6px rgba(202, 198, 210, 0.7) !important;
    box-shadow: 0 3px 6px rgba(202, 198, 210, 0.65), 0 3px 6px rgba(202, 198, 210, 0.7) !important;
    color: #553024; }
  .overlay.bg-green {
    -webkit-box-shadow: 0 3px 6px rgba(10, 35, 12, 0.65), 0 3px 6px rgba(10, 35, 12, 0.7) !important;
    -moz-box-shadow: 0 3px 6px rgba(10, 35, 12, 0.65), 0 3px 6px rgba(10, 35, 12, 0.7) !important;
    box-shadow: 0 3px 6px rgba(10, 35, 12, 0.65), 0 3px 6px rgba(10, 35, 12, 0.7) !important;
    color: #F2F1F4; }
    .overlay.bg-green .link {
      color: #BB9841;
      text-decoration: none;
      font-weight: 600;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .overlay.bg-green .link:hover {
        color: #F2F1F4; }

/*# sourceMappingURL=Standard.css.map */
