/* welkom to the main css file, it's still empty though, also potentaill obsolete already */

$primary: #1b5e20;

/*Global*/
html, body{
  width: 100%;
}

/*header*/
.img-wrapper{
  text-align: center;
  height: 420px;
  background: url("../images/header-bg-trees.png") no-repeat 55% 10px;
  margin: 0;
  padding: 95px 0 0 0;
  width: 100%;
  margin-bottom: -30px;
}

.navbar-light{
  margin-top: -30px;
  background: transparent !important;
  position: relative;
}

#navbarNav{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10%;
}

.nav-item {
  color: $primary;
  font-weight: bold;
  text-decoration: none !important;

  &:hover{
    color: lighten($primary, 15%);
  }

}

.main-content{
  background: $primary;
  width: 100%;
}

@media (max-width:750px) {
  .logo{
    display: none!important;
  }
}